* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(43, 43, 40);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    width: calc(100vw - 25px);
    height: calc(100vh - 25px);
    padding: 5px;
}

.square {
    background-color: #555d63;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
        width: calc(100vw - 5px);
        height: calc(100vh - 5px);
        padding: 5px;
    }

    .content {
        font-size: 10px;
    }
}